.sign__button {
  background-color: #28a2d1;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 14px;
  font-weight: bold;
  opacity: 1;
  padding: 5px 15px;
  text-transform: uppercase;
  transition: opacity 0.2 ease;
}

.sign__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.sign__container {
  display: flex;
  align-items: center;
}

.sign__input {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  margin-right: 15px;
  padding: 5px;
  width: 150px;
}

.sign__link {
  font-weight: bold;
  margin-left: 15px;
}

.sign__message {
  margin-right: 15px;
}

.sign__text {
  margin-left: 15px;
}

@media only screen and (max-width: 767px) {
  .sign {
    padding-bottom: 15px;
  }

  .sign__button {
    margin: 15px 0 0 0;
  }

  .sign__container {
    flex-direction: column;
  }

  .sign__input {
    margin: 15px 0 0 0;
  }

  .sign__input:first-of-type {
    margin: 0;
  }

  .sign__link {
    margin: 0;
  }

  .sign__link--cancel {
    margin-top: 10px;
  }

  .sign__message-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .sign__text {
    margin: 0;
  }
}
